{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"vueIndentScriptAndStyle": true,
	"endOfLine": "auto"
}
